<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @user.slug %>
</p>

<%= link_to 'Make Corrections', edit_user_path(@user) %> |
<%= link_to 'Return to the previous page', users_path %>
