<div class="<%= location %>">
  <div><%= link_to "Welcome", root_path %></div>
  <div><%= link_to "About", about_me_path %></div>
  <div><%= link_to "Blog", contact_path %></div>
  <div><%= link_to "Portfolio Projects", blogs_path %></div>
  <div><%= link_to "Tech News", portfolios_path %></div>
</div>