<div class="<%= location %>">
  <div><%= link_to "Welcome", root_path %></div>
  <div><%= link_to "About Us", about_me_path %></div>
  <div><%= link_to "Reach out", contact_path %></div>
  <div><%= link_to "Our Creations", blogs_path %></div>
  <div><%= link_to "Projects", portfolios_path %></div>
</div>