
<div class="app-card-container">
  <div class="card">
        <h2 class="card-header"><strong>About Me</strong></h2>


      <div class="row">
        <div class="col-sm-4">
          <%= image_tag "chasey.jpg", width: "210", height: "245", alt: "profile image", class: 'profile-img' %>
          <div class="skill">
            <% @skills.each do |skill| %>
              <div class="skill" class="card-block">
                <h5><%= skill.title %></h5>
                <div class="progress">
                  <div 
                    class="progress-bar progress-bar-striped bg-primary"
                    role="progressbar"
                    aria-valuenow="<%= skill.percent_utilized %>"
                    aria-valuemax="100"
                    style="width:<%= skill.percent_utilized %>%"
                  ><%= skill.percent_utilized.to_i %>%</div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
    
        <div class="card-body" class="col-sm-8">

          <p>Hi, my name is Chase Story, and welcome to my portfolio.</p>
          <p>
            <button
              class="btn btn-success"
              type="button"
              data-toggle="collapse"
              data-target="#jobHistory"
              aria-expanded="false"
              aria-controler="jobHistory"
            >
              Job History
            </button>
            <p>         
              <div class="collapse" id="jobHistory">
                <div class="card-block">
                  ConexED | Developer
                </div>
                <div class="card-block">
                  Tranont- Back-End Engineer | DBA
                </div>
                <div class="card-block">
                   CS-Technology Services | (Owner)
                </div>
              </div>
            </p>
          </p>
            <br>

            <button
              class="btn btn-danger"
              type="button"
              data-toggle="collapse"
              data-target="#education"
              aria-expanded="false"
              aria-controler="education"
            >
              Education
            </button>

          <p>
            <div class="collapse" id="education">
              <div class="card-block">
                Bottega Tech | Development education
              </div>
              <div class="card-block">
                DATC- CNA
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

